<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">

<head>
	<title th:utext="#{goodluck}"></title>
</head>

<body>
<div layout:fragment="content">
	<div align="center">
		<p th:utext="#{start.msg}">
			</p>
		<br>
		<br>
		<br>
		<h1 th:utext="#{regulations}"></h1>
		<h3 align="center" th:utext="#{about.app}"></h3>
		<div align="left">
			<ol>
				<li th:utext="#{point1}"></li>
				<li th:utext="#{point2}"></li>
				<li th:utext="#{point3}"></li>
				<li th:utext="#{point4}"></li>
				<li th:utext="#{point5}"></li>
				<li th:utext="#{point6}"></li>

			</ol>
		</div>
		<a class="btn btn-outline-secondary" href="/welcome" role="button" th:utext="#{login}"></a>
	</div>
</div>
</body>

</html>