<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<head>
	<title th:text="#{welcome}" ></title>
</head>
<body>
<div layout:fragment="content">
	<div th:if="${isSuperAdmin}">
		<h2 th:text="#{adminList}"></h2>
		<table class="table table-dark" th:each=" admin, i: ${admins}">
			<div th:if="${!admin.username.equals('1111')}">
			<tr>
				<td width="10%"th:utext="#{number}"></td>
				<td width="20%"th:utext="#{index.number}"></td>
				<td width="10%"th:utext="#{active}"></td>
				<td width="20%"th:utext="#{edit}"></td>
			</tr>
			<tr>
				<td th:text="${i.count}"></td>
				<td th:text="${admin.username}"></td>
				<td th:text="${admin.enabled}"></td>
				<td>
					<button class="btn btn-outline-secondary my-2 my-sm-0" type="button"><a
							th:href="@{'/editAdmin/'+${admin.id}}" th:utext="#{edit.admin}"></a></button>
				</td>
			</tr>
			</div>
		</table>
	</div>
	<div th:if="${!isEmpty}">
		<h2 th:utext="#{goodluck}"></h2>
		<br>
		<table class="table table-dark" th:each=" examCreator, i: ${examCreators}">
			<tr>
				<td width="70%" th:utext="#{exam.title}"></td>
				<td width="10%" th:utext="#{threshold.table}">/td>
				<td width="10%" th:utext="#{time}"></td>
				<td width="10%"></td>
			</tr>
			<tr>
				<td th:text="${examCreator.examTitle}"></td>
				<td th:text="${examCreator.threshold}"></td>
				<td th:if="${examCreator.hasTimeLimit}" th:text="${examCreator.durationInMinutes}"></td>
				<td th:if="${!examCreator.hasTimeLimit}" th:utext="#{no.time.limit}"></td>
				<td>
					<button class="btn btn-outline-secondary my-2 my-sm-0" type="button"><a
							th:href="@{'/currentExam/'+${examCreator.id}}" th:utext="#{approach}"></a></button>
				</td>
			</tr>
		</table>
		<br>
	</div>
	<div th:if="${existByExamSummary}">
		<h3 th:utext="#{lastest.grades}"></h3>
		<br>
		<table class="table table-dark" th:each="examSummary, i :${examSummaries}">
			<thead>
			<tr>
				<th th:utext="#{exam.title}"></th>
				<th th:utext="#{grade}">Ocena</th>
				<th th:utext="#{result.in.percent}"></th>
				<th th:utext="#{threshold.table}"></th>
				<th th:utext="#{achieved.score}"></th>
				<th th:utext="#{max.points}"></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td th:text="${examSummary.examCreator.examTitle}"></td>
				<td th:text="${examSummary.grade}"></td>
				<td th:text="${examSummary.resultInPercent}"></td>
				<td th:text="${examSummary.examCreator.threshold}"></td>
				<td th:text="${examSummary.achievedScore}"></td>
				<td th:text="${examSummary.maxScore}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>