<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link th:href="@{main.css}" rel="stylesheet" type="text/css">
	<title th:text="#{rtfm}"></title>
</head>
<body>
<h3 th:text="#{welcome.to.manual}"> </h3>
<p th:text="#{all.logic}"></p>
<p th:text="#{no.assigned.questions}"></p>
<p th:text="#{validation.error.manual}"></p>
<p th:text="#{cannot.edit.delete.if.question.was.used}"></p>
<p th:text="#{cannot.edit.delete.if.student.passed.exam}"></p>
<p th:text="#{cannot.edit.exam}"></p>
<p th:text="#{you.cannot.delete.the.question.you.have.not.added}"></p>
<p th:text="#{bug.warning}"></p>
<p th:text="#{you.can.deactivate.question}"></p>
</body>
</html>