<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">

<head>
	<title th:utext="#{cannot}"></title>
</head>

<body>
<div layout:fragment="content">
	<div th:if="${examCreatorId != null}" align="center">
		<span th:utext="#{cannot.edit.student(${studentIndex},${examTitle})}"></span>
		<br>
		<br>
		<a class="btn btn-outline-dark" th:href="@{'/listAllStudents/'+${examCreatorId}}" role="button" th:utext="#{back}"></a>
	</div>
	<div th:if="${examCreatorId == null}" align="center">
		<span th:utext="#{cannot.edit.student(${studentIndex},${examTitle})}"></span>
		<br>
		<br>
		<a class="btn btn-outline-dark" th:href="@{'/showAllExams/'}" role="button" th:utext="#{back}"></a>
	</div>
</div>
</body>

</html>