<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">

<head>
	<title>Dodaj pytanie</title>
</head>

<body>
<div layout:fragment="content">
	<div class="container">
		<h2>Dodaj pytanie</h2>
		<form th:action="@{'/addQuestion/'+${examId}}" th:object="${question}" method="post">
			<div class="form-group">
				<label for="content">Treść pytania</label>
				<input type="text" class="form-control" id="content" placeholder="treść pytania minimum 10 znaków" name="content" th:field="*{content}">
				<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
			</div>
			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="customCheck1" th:name="singleAnswer" th:checked="*{singleAnswer}">
				<label class="custom-control-label" for="customCheck1"><span class="label-text"
				                                                             th:text="${'Pytanie pojedyńczego wyboru'}"></span></label>
			</div>
			<table>
				<tr th:each="answer, i: ${question.getAnswers()}">
					<td>
						<input type="text" class="form-control" id="addAnswerToSelectedQuestion" placeholder="min 3 max 500" th:value="${answer.content}" th:name="${'answers['+i.index+'].content'}">
						<p th:errors="*{answers[__${i.index}__].content}"></p>
					</td>
					<td>
						<input type="text" class="form-control" id="value" th:value="${answer.value}" th:name="${'answers['+i.index+'].value'}">
						<p th:errors="*{answers[__${i.index}__].value}"></p>
					</td>
				</tr>
			</table>
			<button type="submit" class="btn btn-outline-dark">Zapisz</button>
		</form>
	</div>
</div>
</body>

</html>