<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">

<head>
	<title th:text="#{goodluck}"></title>
</head>

<body>
<div layout:fragment="content">
	<h4 style="color: red" th:utext="#{admin.exam.msg}"></h4>
	<br>
	<h3 th:utext="#{admin.student.view}"></h3>
	<br>
	<table class="table table-dark">
		<thead>
		<tr>
			<th th:text="#{exam.title}"></th>
			<th th:text="#{threshold.table}"></th>
			<th th:text="#{grade}"></th>
			<th th:text="#{result.in.percent}"></th>
			<th th:text="#{achieved.score}"></th>
			<th th:text="#{max.points}"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td th:text="${examTitle}"></td>
			<td th:text="${threshold}"></td>
			<td th:text="${grade}"></td>
			<td th:text="${resultInPercent}"></td>
			<td th:text="${score}"></td>
			<td th:text="${allPoints}"></td>
		</tr>
		</tbody>
		<br>
	</table>
	<br>
	<span style="color: red" th:if="${threshold>resultInPercent}" th:utext="#{fail}">
							<br>
	</span>
</div>
</body>

</html>