<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">

<head>

	<title th:utext="#{goodluck}"></title>
</head>
<body>

<div layout:fragment="content">
	<script src="/easytimer.min.js"></script>
	<h3 th:utext="#{current.exam.title(${examTitle})}"></h3>
	<h3 th:utext="#{question.amount(${questionAmount})}"></h3>
	<script>

        var timer = new easytimer.Timer();
        timer.start({countdown: true, startValues: {seconds: [[${secondsLeft}]]}});
        $('#countdownExample .values').html(timer.getTimeValues().toString());
        timer.addEventListener('secondsUpdated', function (e) {
            $('#countdownExample').html(timer.getTimeValues().toString());
        });
        timer.addEventListener('targetAchieved', function (e) {
            $('#saveAnswerToExam').click();
        });
	</script>
	<div th:if="${hasTimeLimit}">
		<div id="countdownExample"></div>
	</div>
	<div th:each="point: ${maximumPoints}">
		<br>
		<h3 th:utext="#{the.question.is(${question.content})}"></h3>
		<h3 th:if="${showPoints}" th:utext="#{max.points.for.answer(${maxPointsForAnswer})}"></h3>
		<form method="post" th:action="@{'/currentExam/'+${examId}}">
			<h3 th:utext="#{possible.answers}"></h3>
			<table class="table table-bordered">
				<thead>
				<tr>
					<th th:if="${!question.singleAnswer}" th:utext="#{multi.answer.question}"></th>
					<th th:if="${question.singleAnswer}" th:utext="#{single.answer.question}"></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="answer: ${answers}">
					<td>
								<span th:if="${question.singleAnswer}">
								<div class="custom-control custom-radio mb-3">
								<input th:id="@{'answersIds'+${answer.id}}" type="radio" class="custom-control-input"
								       th:name="answersIds"
								       th:value="${answer.id}">
								<label class="custom-control-label" th:for="@{'answersIds'+${answer.id}}">
									<span class="label-text" th:text="${answer.content}"></span>
								</label>
							</div>
								</span>
						<span th:if="${!question.singleAnswer}">
							<div class="custom-control custom-checkbox mb-3">
								<input th:id="@{'answersIds'+${answer.id}}" type="checkbox" class="custom-control-input"
								       th:name="answersIds"
								       th:value="${answer.id}">
								<label class="custom-control-label" th:for="@{'answersIds'+${answer.id}}">
									<span class="label-text" th:text="${answer.content}"></span>
								</label>
							</div>
						</span>
					</td>
				</tr>
				</tbody>
			</table>
			<div th:if="${!hasTimeLimit}">
				<h1 th:if="${noChoosenAnswers}" th:utext="#{no.chosen.answer}"></h1>
				<button type="submit" class="btn btn-outline-dark" id="saveAnswerToExam" th:utext="#{save.selected}"></button>
			</div>
			<div th:if="${hasTimeLimit}">
				<div class="field">
					<div th:if="${!outOfTime}">
						<h1 th:if="${noChoosenAnswers}" th:utext="#{no.chosen.answer}"></h1>
						<button type="submit" class="btn btn-outline-dark" id="saveAnswerToExam" th:utext="#{save.selected}"></button>
					</div>
					<div th:if="${outOfTime}">
						<h3 style="color: red" th:utext="#{out.of.time}"></h3>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>

