<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<title th:text="#{exam.summary}"></title>

<body>
<div layout:fragment="content">
	<table class="table table-dark">
		<thead>
		<tr>
			<th th:text="#{exam.title}"></th>
			<th th:text="#{threshold.table}"></th>
			<th th:text="#{grade}"></th>
			<th th:text="#{result.in.percent}"></th>
			<th th:text="#{achieved.score}"></th>
			<th th:text="#{max.points}"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td th:text="${examTitle}"></td>
			<td th:text="${threshold}"></td>
			<td th:text="${grade}"></td>
			<td th:text="${resultInPercent}"></td>
			<td th:text="${score}"></td>
			<td th:text="${allPoints}"></td>
		</tr>
		</tbody>
		<br>
	</table>
	<span style="color: red" th:if="${threshold>resultInPercent}">
				<td th:text="#{fail}">
		<br>
	</span>
</div>
</body>

</html>