<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<title th:text="#{examSummary}"></title>

<body>
<div layout:fragment="content">
	<table class="table table-dark">
		<thead>
		<tr>
			<th th:text="#{examTitle}"></th>
			<th th:text="#{grade}"></th>
			<th th:text="#{resultInPercent}"></th>
			<th th:text="#{achievedScore}"></th>
			<th th:text="#{maxPoints}"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td th:text="${examTitle}"></td>
			<td th:text="${grade}"></td>
			<td th:text="${resultInPercent}"></td>
			<td th:text="${score}"></td>
			<td th:text="${allPoints}"></td>
		</tr>
		</tbody>
		<br>
	</table>
	<span style="color: red" th:if="${threshold>resultInPercent}">
				<td th:text="${currentUserName + ' Niestety, Twój wynik nie pozawala na uzyskanie pozytywnej oceny. Zgłoś się do osoby prowadzącej zajęcia.' }">
		<br>
	</span>
</div>
</body>

</html>